<!DOCTYPE html>
<html>
  <head>
    <title>Dan Costa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="HTML, CSS, JavaScript, React, Rails, Ruby">
    <meta 
      name="description" 
      content="Hi, I'm Dan! This is my portfolio! Here I'm showing a bit of myself, my knowledge and experiences. Come have a look."
    >
    <meta property="og:title" content="Dan Costa Portfolio" />
    <meta property="og:image" content="https://res.cloudinary.com/dognkye6x/image/upload/v1648345738/IMG_0591_huppm8.jpg" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
